<h1> Instructions</h1>

<%=link_to 'See Pending tasks', tasks_path %>
</br>
<li> 1. Click New Task to create a new task.</li>
<li> 2. Click Edit to edit a chosen task.</li>
<li> 3. Click Complete to remove task from the task list.</li>
<li> 4. Go to http://localhost:3000/ to go back to our home page.</li>
