<h1> About Our Group </h1>
<td>We are Janbie (3 BS ITE), MG (MIT) and Kevin (2 BS ITE), students of the Ateneo University who are tying to get by CS21B.</td>
<td> We can be found at the third row of the right column in the class(when facing the back of the classroom).</td>
<td> Our class together is during TTH at 1:30 - 3:30pm in Faura Rm.204, ADMU, Loyola Heights, Quezon City.</td>
<th>This app is just the Beta version of our To-do App.</th>
<br></br>
<%= link_to 'Start!', tasks_path%>